<h1>View The Phoenix Club Newsletter</h1>

<% @newsletters.each do |nl| %>
  <p><%= link_to "#{nl.month} #{nl.year}", nl.newsletter_file.url %>
  	<% if current_user.is_admin %>
  	   | <%= link_to 'Edit', edit_newsletter_path(nl) %> | <%= link_to 'Delete', newsletter_path(nl), {method: :delete} %>
  	 <% end %>
  </p>
<% end %>