<h1 class='admin-header'>Welcome To The Administration Page</h1>

<p>These actions are available to administration</p>
<ul class='admin-list'>
	<li><%= link_to 'Add Calendar', '#' %></li>
	<li><%= link_to 'Add Newsletter', '#' %></li>
	<li><%= link_to 'Add Photo', '#' %></li>
	<li><%= link_to 'Membership Administration', members_path %></li>
</ul>