<div class='row'>
	<div class='col-md-2'></div>
	<div class='col-md-8'>
		<div class='row'>
			<div class='col-md-12'>
				<p class='home'>Auroraland's finest club since 1893</p>

				<p class='home'>
					<i>We are still working on the website but you will find the latest newsletter and calendars already available so you can stay up to date with all the happenings at the club. Coming soon…daily lunch and dinner specials posted along with menus and lots of other information about all the other events here at the club. Thank you for your patience during this transition.</i>
				</p>
			</div>
		</div>
		<div class='row'>
			<div class='col-md-12'>
				<%= image_tag 'PhoenixClub-2009', {id: 'pc2009'} %>
			</div>
		</div>
		<div class='row'>
			<div class='col-md-12'>
				<h2>Stay Up To Date With The Phoenix Club Of Aurora</h2>
			</div>
		</div>
		<div class='row'>
			<div class='col-md-3'>
				<% if @newsletter %>
					<%= button_to 'Latest Newsletter', @newsletter.newsletter_file.url, {method: :get, class: 'btn btn-danger'} %>
				<% end %>
			</div>
			<div class='col-md-3'>
				<% if @calendar %>
					<%= button_to 'Latest Calendar', @calendar.calendar_file.url, {method: :get, class: 'btn btn-warning'} %>
				<% end %>
			</div>
			<div class='col-md-6'></div>
		</div>
	</div>
	<div class='col-md-2'></div>
</div>