<h1>What's Happening This Month</h1>


<% @calendars.each do |calendar| %>
	<p><%= link_to "#{calendar.month} #{calendar.year}", calendar.calendar_file.url %>
		<% if current_user.is_admin %>
				 | <%= link_to 'Edit Calendar', edit_calendar_path(calendar) %>  | 
				<%= link_to 'Remove Calendar', calendar_path(calendar), {method: :delete} %>
		<% end %>
	</p>
<% end %>


<%= link_to "Add Calendar", new_calendar_path if current_user.is_admin %>